In [3]:
print("hello world")

hello world

# Variable types and declaration

In [6]:
a=1
b="hello"
c=1.90
d=False
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))

1 <class 'int'>
hello <class 'str'>
1.9 <class 'float'>
False <class 'bool'>

# Basic Operations

In [8]:
x=2
y=3
print("x=",x,",y=",y)
print("x+y=",(x+y))
print("x-y=",(x-y))
print("x/y=",(x/y),type(x/y))
print("x%y=",(x%y))
print("x*y=",(x*y))
print("x**y=",(x**y))

x= 2 ,y= 3
x+y= 5
x-y= -1
x/y= 0.6666666666666666 <class 'float'>
x%y= 2
x*y= 6
x**y= 8

# Getting Input

In [11]:
x=input("enter a number")
print("entered number is ",x, type(x))
y=int(input("enter a number"))
print("entered number is ",y, type(y))

enter a number5
entered number is  5 <class 'str'>
enter a number3
entered number is  3 <class 'int'>

# Datastructure

### List -mutable and allows duplicates

In [67]:
marks=[81,62,95,87,67]
print(marks)
print("marks[4]= %d" %marks[4])#printing 4th index
print(marks[-2]) #printing 1st index from end,last index is -1
print(marks[1:3])#printing from 1st and 2nd 
print(marks[3:])#printing from 3rd index
print(marks[:2])#printing till 2nd index
marks[4]=78 #mutable
print(marks)
print(len(marks))
#remove(element),pop(position),clear()->deletes all elements of list
marks.extend([100,71])
print(marks)

[81, 62, 95, 87, 67]
marks[4]= 67
87
[62, 95]
[87, 67]
[81, 62]
[81, 62, 95, 87, 78]
5
[81, 62, 95, 87, 78, 100, 71]

In [24]:
#adding,removing,sorting list elements
marks.append(100)
print(marks)
marks.remove(95)
print(marks)
marks.insert(1,100)
print(marks)
print(sorted(marks))
print(sorted(marks,reverse=True))

[81, 62, 95, 87, 78, 100]
[81, 62, 87, 78, 100]
[81, 100, 62, 87, 78, 100]
[62, 78, 81, 87, 100, 100]
[100, 100, 87, 81, 78, 62]

In [29]:
#list comprehension
pass_mark=65
pass_list=[mark for mark in marks if mark > pass_mark]
print(pass_list)

#this is equivalent to

newPassMark=80
newPassList=[]
for i in marks:
    if i>newPassMark:
        newPassList.append(i)
print(newPassList)

[81, 100, 87, 78, 100]
[81, 100, 87, 100]

### Tuple - immutable but allows duplicates

In [30]:
marks=(81,62,95,87,67)
print(marks)
print("marks[4]= %d" %marks[4])#printing 4th index
print(marks[-2]) #printing 1st index from end,last index is -1
print(marks[1:3])#printing from 1st and 2nd 
print(marks[3:])#printing from 3rd index
print(marks[:2])#printing till 2nd index
print(len(marks))

(81, 62, 95, 87, 67)
marks[4]= 67
87
(62, 95)
(87, 67)
(81, 62)
5

In [33]:
#TUPLE comprehension
pass_mark=65
pass_list=[mark for mark in marks if mark > pass_mark]
print(pass_list)
##insert,remove are not available
print(sorted(marks))
print(sorted(marks,reverse=True))

[81, 95, 87, 67]
[62, 67, 81, 87, 95]
[95, 87, 81, 67, 62]

In [72]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham") # Graham arrives
print(queue)
queue.popleft()                 # The first to arrive now leaves
queue.popleft()                 # The second to arrive now leaves
print(queue)                           # Remaining queue in order of arrival

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])
deque(['Michael', 'Terry', 'Graham'])

### Set - Mutable but no duplictes

In [36]:
a={1,2,3,4}
b={4,5,6}
print(a)
print(b)
print("a&b=",a&b)#intersection
print("a|b=",a|b)#union
print("a-b=",a-b)#difference
print("a^b=",a^b)#symmetric difference
#adding and removing elements are possible
a.add(5)
print(a)

{1, 2, 3, 4}
{4, 5, 6}
a&b= {4}
a|b= {1, 2, 3, 4, 5, 6}
a-b= {1, 2, 3}
a^b= {1, 2, 3, 5, 6}
{1, 2, 3, 4, 5}

### Dictionary - mutable key-value pairs

In [40]:
student1={"name":"nitu","degree":"btech","cgpa":"8"}
print(student1)
print(student1["name"])
for key,value in student1.items():
    print(key,value)

{'name': 'nitu', 'degree': 'btech', 'cgpa': '8'}
nitu
name nitu
degree btech
cgpa 8

# String - immutable

In [43]:
word="Python"
print(word.upper())
print(word.lower())
print(len(word))
print(word.startswith("P"))
print(word.endswith("W"))
print(word[2:5])
print(list(word))

PYTHON
python
6
True
False
tho
['P', 'y', 't', 'h', 'o', 'n']

In [45]:
sentence="i love python"
words=sentence.split(" ")
print(words)

['i', 'love', 'python']

# Control Structures

In [46]:
num=int(input("enter a number "))
if(num>0):
    print("positive")
elif(num<0):
    print("negative")
else:
    print("number is 0")

enter a number 0
number is 0

In [57]:
names=["nitu","raji","balu"]

for i in names:
    i+="@mail.com"
    print(i)

nitu@mail.com
raji@mail.com
balu@mail.com

In [63]:
for i in range(5):
    print(i)

0
1
2
3
4

In [64]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

In [65]:
for i in range(1,5,2):
    print(i)

1
3

In [62]:
num=int(input("enter a number"))
fact=1
while(num>0):
    fact=fact*num
    num=num-1
print(fact)

enter a number5
120

# Functions

In [56]:
def sum_of_digits(num):
    sum=0;
    while(num>0):
        sum=sum+(num%10)
        num=int(num/10)
    return sum
sum_of_digits(234)

9

In [66]:
def add(num1, num2=1):
    return num1 + num2


sum1 = add(100, 200)
sum2 = add(8)  # used default argument for second param
sum3 = add(100)  # used default argument for second param
print(sum1)
print(sum2)
print(sum3)

300
9
101

In [74]:
squares=[x**2 for x in range(10) ]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]